<h1>Add ingredients for {{recipeName}}</h1>

<div class="container">
<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Add to Recipe</th>
        <!-- <th></th>
        <th>Inventory</th> -->
    </tr>
</thead>
<tbody>
    <tr *ngFor="let inventory of inventories ; let i = index">
        <td>{{i+1}}</td>
        <!-- <td>{{inventory.id}}</td> -->
        <td>{{inventory.itemName}}</td>
        <td>
            <input type="number" [(ngModel)]="subQuantity" class="form-control" name="subQuantity[i]" required="required" >

            <!-- <div style="margin-right: 3px;">
                <div style="padding-right: 3px;">
                    <input type="number" style="width:100%;">
                </div>
            </div> -->
        </td>
        <td>
            <button (click)=addRecipe(inventory.id,inventory.itemName,subQuantity) class="btn btn-success"> Add </button>
        </td>

        <!-- <td align="center" button (click)=showentree(restaurant.id) class="btn btn-success">View Entree</td> -->
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <!-- <td></td> -->
        <!-- <td align="center" button (click)=showinventory(restaurant.id) class="btn btn-success">View Inventory</td> -->

        <!-- <td button class="btn btn-success">View Inventory</td> -->
    </tr>
</tbody>
</table>
<button class="btn btn-success" (click)=Done() > Done </button>

</div>