<h1>Add New Menu Item</h1>

<div class="container">

    <fieldset class="form-group">
        <label>Menu Item Name</label>
        <input type="text" [(ngModel)]="name" class="form-control" name="name" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Price</label>
        <input type="text" [(ngModel)]="price" class="form-control" name="price" required="required">
    </fieldset>
    <button (click)=addEntreeSuccess() class="btn btn-success"> Add new Menu Item </button>
    <button (click)=addEntreeCancel() class="btn btn-warning"> Cancel </button>


</div>