<h1>Update Inventory Item Details</h1>

<div class="container">

    <fieldset class="form-group">
        <label>Item Name</label>
        <input type="text" [(ngModel)]="itemName" class="form-control" name="itemName" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Quantity</label>
        <input type="number" [(ngModel)]="quantity" class="form-control" name="quantity" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Threshold</label>
        <input type="number" [(ngModel)]="threshold" class="form-control" name="threshold" required="required">
    </fieldset>
    <button (click)=updateInventSuccess() class="btn btn-success"> Update Inventory </button>
    <button (click)=updateInventCancel() class="btn btn-warning"> Cancel </button>


</div>